* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f9fd;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.blog-head {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2596be;
    text-shadow: 2px 2px #00658a;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-head h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}


.courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    list-style: none;
    font-size: x-large;
}

.courses-list a{
    color: #004c6c;
    text-decoration: none;
}

.courses-list a:hover{
    color: white;
}

.courses-list li {
    background-color: #fff;
    border: 2px solid #d6d6cd;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.courses-list li:hover {
    background-color: #2596be;
    color: white;
    border-color: #00658a;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

a p{
    margin-bottom: 0px;
    padding: 10px 20px;
}

.frame-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
}

.frame-pages iframe {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 750px) {
    .blog-head h1 {
        font-size: 2rem;
    }

    .frame-pages iframe {
        height: 400px;
    }
}

@media screen and (max-width: 480px) {

    .frame-pages iframe {
        height: 350px;
    }
}
