* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f9fd;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}


nav {
  background-color: #2596be;
  padding: 10px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 0px;
  padding-left: 0px;
  width: 100%;
}

.nav-menu-link a {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.nav-menu-link a:hover {
  background-color: #00658a;
}

.gallery-head {
    height: 25vh;
    background-color: #2596be;
    text-shadow: 2px 2px #00658a;
}

.gallery-head h1 {
    font-size: 2.5rem;
    font-weight: bold;
}


.photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
    height: 150px;
  }

  .img-fluid{
    height: 100%;
  }


  .gallery-table {
    display: flex;
    justify-content: center;
    padding: 5rem;
}
table {
    width: 90%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
thead {
    background-color: #00658a;
    color: white;
}
tbody tr:hover {
    background-color: #e9f2f7;
    transition: background-color 0.3s ease;
}
.name a {
    color: #2596be;
    font-weight: bold;
    text-decoration: none;
}
.name a:hover {
    color: #00658a;
    text-decoration: underline;
}
.passport-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    filter: blur(8px);
}
.passport-img:hover{
    filter: blur(0px);
}
iframe {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }
    .gallery-head h1 {
        font-size: 2rem;
    }
}