* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f9fd;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.reg-head {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2596be;
    color: white;
    text-shadow: 2px 2px #00658a;
}

.reg-head h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.form {
    width: 60%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.field-1 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1rem;
    color: #2596be;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus, .input .form-select:focus {
    border-color: #2596be;
    outline: none;
    box-shadow: 0 0 5px rgba(37, 149, 190, 0.5);
}

.custom-radio .form-check-input:checked{
    border-color: #2596be;
    background-color: #2596be;
}

.input, .input-hobbies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: #2596be;
    transform: scale(1.2);
}

input[type="submit"] {
    background-color: #2596be;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #00658a;
    transform: scale(1.02);
}

@media screen and (max-width: 875px) {
    .form {
        width: 85%;
    }
    
    .reg-head h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .reg-head h1 {
        font-size: 1.8rem;
        text-align: center;
        padding: 0 10px;
    }
    
    label {
        font-size: 0.9rem;
    }

    input[type="submit"] {
        font-size: 1rem;
        padding: 10px;
    }
}
